body{
  margin: 0px;
}

.navbar {
  margin: 0;
  background-color: green;
  width: 1920px;
  height: 101px;
}

.sidenav{
  background-color: #0A391E;
  width: 449px;
  height: 979px;
}

.medium-1{
  background-color: #d9d9d9;
  width: 688px;
  height: 425px;
}

.medium-2{
  background-color: #d9d9d9;
  width: 688px;
  height: 454px;
}

.large-1{
  background-color: #d9d9d9;
  width: 688px;
  height: 917px;
}

.container{
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-evenly;
}
